<p>Dear <%= @name %>,</p>
<br/>
<p>Your friend <%= @sender %> has invited you to come and join da.vin.ci, the best photographic inovation since the invention of the camera!  To come try it out, just go to <a href="http://da.vin.ci/register">da.vin.ci/register</a> and copy the this code <%= @code %> into the invitation box.</p>
<p>Kind Regards</p>
<br/>
<p>The da.vin.ci team</p>
