<fieldset>
    <label>Forename:<br/><%= f.text_field :forename %></label><br/>
    <label>Surname:<br/><%= f.text_field :surname %></label><br/>
    <label>Street:<br/><%= f.text_field :street %></label><br/>
    <label>Locality:<br/><%= f.text_field :locality %></label><br/>
    <label>Region:<br/><%= f.text_field :region %></label><br/>
    <label>Postal code:<br/><%= f.text_field :postal_code %></label><br/>
    <label>Bio:<br/><%= f.text_area :bio, :rows => 6, :cols => 60 %></label>
</fieldset>
