<div class="yui-g">
  <%= error_messages_for :invitation %>
  <% form_for :invitation, @invitation, :url => user_invitations_path(@user) do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <br/>
    <%= submit_tag 'Send' %>
  <% end %>
</div>
