<fieldset>
  <label>Name<br/><%= f.text_field :name %></label><br/>
  <label>Description<br/><%= f.text_area :description, :rows => 6, :cols => 60 %></label><br/>
  <label>Price<br/><%= f.text_field :price %></label><br/>
  <label>Weight<br/><%= f.text_field :weight %></label>
</fieldset>
