<div>
  <%= link_to product.name, admin_product_path(product) %>
  <%= link_to 'edit', edit_admin_product_path(product) %>
  <%= link_to 'delete', admin_product_path(product), :method => :delete, :confirm => 'Are you sure?' %>
</div>
